@media (min-width: 1200px) {
    .inputs {
        display: flex;
        gap: 10px;
    }

    .containerTextArea {
        display: flex;
        flex-direction: column;
        h1, h2, h3, h4, h5 {
            margin: 0;
        }

        label {
            margin-top: 5px;

            textarea {
                border-radius: 5px;
                padding: 10px;
                resize: none;
                width: 100%;
            }
        }

    }
}

@media (max-width: 1199px) {
    .inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .containerTextArea {
        display: flex;
        flex-direction: column;
        h1, h2, h3, h4, h5 {
            font-size: 30px;
            margin: 0;
        }

        label {
            margin-top: 5px;

            textarea {
                border-radius: 5px;
                padding: 10px;
                resize: none;
                width: 100%;
            }
        }
    }


}
