.main {
    height: 100vh;

    .band {
        margin-top: 20px;
        position: absolute;
        mix-blend-mode: multiply;
        width: 100%;
        height: 15%;
    }

    .container {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .login {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
                padding: 100px;
                height: 100%;
            }

            .image {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    border-radius: 50%;
                    width: 500px;
                    height: 500px;
                }
            }


        }
    }
}

@media (max-width: 1199px) {
    .main {
        height: 100%;
        margin-top: 30px;

        .band {
            display: none;
        }

        .container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            width: 100%;

            .login {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            .image {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    border-radius: 50%;
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}