@media (min-width: 1200px) {
    .inputs {
        display: flex;

        .divSelects {
            width: 100%;
        }
    }

    .containerTextArea {
        display: flex;
        flex-direction: column;
        h1, h2, h3, h4, h5 {
            margin: 0;
        }
    }
}

@media (max-width: 1199px) {
    .inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .containerTextArea {
        display: flex;
        flex-direction: column;
        h1, h2, h3, h4, h5 {
            font-size: 30px;
            margin: 0;
        }
    }
}

.containerTextArea {
    textarea {
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
}

.inputs {
    gap: 10px;
}

