@media (min-width: 1200px) {
    .inputs {
        display: flex;

        .divSelects {
            width: 100%;
        }
    }

    .containerTextArea {
        display: flex;
        flex-direction: column;
        h1, h2, h3, h4, h5 {
            margin: 0;
        }
    }

    .label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0!important;

        h3 {
            margin: 25px 10px 0;
        }
    }
}

@media (max-width: 1199px) {
    .inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .containerTextArea {
        display: flex;
        flex-direction: column;
        h1, h2, h3, h4, h5 {
            font-size: 30px;
            margin: 0;
        }
    }

    .label {
        flex-direction: row;

        h3 {
            margin: 25px 10px 0;
        }
    }
}

.inputs {
    gap: 10px;
}

