
@font-face {
    font-family: JapanWave;
    src: url("../../public/japan_wave/JapanWave.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../../public/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: JapanWave;
    font-size: 25px;
}

.app {
    background-color: rgba(0, 0, 0, 0.938);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none !important;
    transition: 0.2s;
}

.link {
    border-bottom: 2px double;
}

p, a {
    font-family: Montserrat sans-serif;
    font-size: 18px;
}

textarea {
    background-color: rgb(177, 177, 177);
}

h1, h2, h3, h4, h5, p, a, ul, li{
    color: rgb(255, 102, 0)!important;
}

html, body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}


.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {
    .body-container {
        margin-top: 150px; 
    }
}

@media (max-width: 1199px) and (min-width: 776px) {
    .body-container {
        margin-top: 200px; 
    }

    ::-webkit-scrollbar-thumb {
        display: none;
    }
}

@media (max-width: 775px) {
    .body-container {
        margin-top: 10px; 
    }
    ::-webkit-scrollbar-thumb {
            display: none;
        }
    
}