@import '../inputs.module';
.container {
  @extend %basic-container;

  input {
    @extend %basic-input;
  }

  .inputWrapper {
    display: flex;
    position: relative;

    .button {
      background: none;
      border: none;
      height: auto;
      width: auto;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);

      .icon {
        height: 25px;
        width: 25px;
      }
    }
  }
}