$background-color: #F2F1F1;

@media(min-width: 992px) {
    .container {
        display: flex;
        justify-content: center;
        justify-self: center;
        min-height: 85vh;
        height: auto;
        background-color: #efefef;
        margin: 30px auto;
        border-radius: 20px;
        width: 1000px;

        .content {
            margin: 30px;
            display: flex;
            flex-direction: column;
            text-align: center;

            a {
                margin: 10px;
            }
        }
    }
}


