@import '../inputs.module';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .inputWrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    input {
      @extend %basic-input;
    }

    .button {
      position: absolute;
      right: 10px;
      top: 25%;

      background: none;
      border: none;
      height: 20px;
      width: 20px;

      .icon {
        height: 22px;
        width: 22px;
      }
    }
  }
}