.contentPermission {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        width: 100%;
        text-align: start;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;

        .animated-text {
            display: inline-block;
            white-space: nowrap;
            animation: moving 5s linear infinite;
        }
    }
}

.contentOutPermission {
    display: flex;
    width: 100%;

    a {
        width: 100%;

        h4 {
            text-align: start;
        }
    }
}

.navbar {
    display: flex;
    padding: 0!important;
    position: absolute!important;
    align-self: flex-end;

    a {
        &::before {
            display: none!important;
        }
    }

    .item {
        width: auto;
        padding: 0;
        transition: 0.5s;
        border-radius: 5px;

        a {
            width: 100%;
            margin: 0;
            padding: 5px;
            display: flex;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.12);
        }
    }

    .dropdownMenu {
        div {
            min-width: auto;
            padding: 5px;
        }
    }
}

.buttons {
    display: flex;
}

@keyframes moving {
    from {transform: translateX(100%);}
    to {transform: translateX(-100%);}
}

