@font-face {
    font-family: JapanWave;
    src: url("../../public/japan_wave/JapanWave.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../../public/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .about, .content {
        display: flex;
        width: 100%;
    }
}