$background-color: #F2F1F1;

.main {
  // colocar no centro da pagina
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  background-color: $background-color;
  width: 80vw;
  border-radius: 20px;
}