@media (min-width: 776px) {

    .main {
        p {
            font-size: 0.7rem;
        }

        h1, h2, h3 {
            font-size: 1.9rem;
            text-align: center;
        }

        .about {
            background-color: white;
            margin: 0 30px;
            padding: 30px 15px;
            border-radius: 10px;

            .divizona {
                text-align: center;
            }
        }
    }

}

@media (max-width: 1199px) {
    .item {
        overflow: hidden;
    }

    .carousel1 {
        margin-bottom: 20px;
    }

    .kiossanins {

        .person {
            display: flex;
            margin: 30px;
            padding: 15px;
            align-items: center;
            gap: 10px;
        }
    }
}

@media (min-width: 1200px) {
    .about {
        .carouselContainer {
            display: flex;
            justify-content: space-around;

            .carousel1 {
                width: 48%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .divizona {
                    background-color: rgba(128, 128, 128, 0.16);
                    border-radius: 10px;
                    padding: 15px;
                    width: 100%;

                    .carouselx {
                        .item {
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }

    .kiossanins {
        h1 {
            text-align: center;
        }

        p {
            margin: 20px;
        }

        .personRight {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .person {
            display: flex;
            margin: 30px;
            width: 80%;
            padding: 30px;

            button {
                display: none;
            }
        }
    }
}

@media (max-width: 775px) {
    .main {
        h1 {
            font-size: 0.9rem;
            text-align: center;
        }

        h2 {
            font-size: 0.85rem;
        }

        p {
            font-size: 0.5rem;
        }

        .about {
            margin: 0 10px;
        }

        .kiossanins {


            .personRight {
                .person {
                    flex-direction: column-reverse;
                }
            }

            .person {
                flex-direction: column;

                h2 {
                    text-align: center;
                }
            }
        }
    }
}



.main {
    width: 100%;

    .about {
        button {
            display: none;
        }
        .item {
            height: 700px;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .kiossanins {

        img {
            width: 250px;
            height: 250px;
        }

        .person {
            background-color: white;
            border-radius: 10px;
        }
    }
}
