@media (min-width: 1400px) {
    .container {
        overflow: hidden;

        .about {
            //width: 100%;
            margin: 30px;

            .text {
                display: flex;
                justify-content: space-between;

                p {
                    margin: 10px;
                }
            }
        }

        .carousels {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 30px;
            grid-template-areas:
            "carousel1 carousel2"
            "carousel3 carousel3";

            margin: 30px;
            align-items: center;
            justify-content: center;

            h2 {
                font-size: 40px;
            }

            .carousel1, .carousel2, .carousel3 {
                justify-self: center;
                width: 100%;
            }

            .carousel1 {
                grid-area: carousel1;
            }

            .carousel2 {
                grid-area: carousel2;
            }

            .carousel3 {
                grid-area: carousel3;
            }
        }

        .item {
            text-align: center;
            height: 700px;
            width: 100%;

            img {
                border-radius: 15px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}