$primary-color: #F5EE40;
$secondary-color: #F93030;
$tertiary-color: #F37F14;
$background-color: #F2F1F1;

@import "src/pages/global.module";

.container {
  display: flex;
  align-items: center;
  // space-between
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px 8px 2px grey;

  .itens {
    display: flex;
    width: auto;
    margin: 20px;
  }

  .logo {
    width: 200px;
    display: flex;
    justify-content: center;
    position: relative;

    img {
      cursor: pointer;
      margin: 30px;
    }
  }

  .search {
    margin: auto;
    width: 500px;
  }

  .menu {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-weight: 500;
    font-size: 1.2em;

    .dropdown {
      background-color: #ea8e21;
      margin-right: 50px;
      border-radius: 10px;

      a {
        color: white;
      }

      div {
        background-color: #ea8e21;

        a {
          color: white;
          transition: 0.5s;
        }:hover {
          color: black;
        background-color: #ea8e21;
                 }
      }
    }
  }
}