.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  gap: 30px;
}

.carousel {
  width: 700px;
  color: red;
  text-align: center;
}

.item {

  img {
    border-radius: 15px;
    width: 700px;
    height: 500px;
  }
}