.contentPermission {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        width: 100%;
        text-align: start;
    }
}

.contentOutPermission {
    display: flex;
    width: 100%;

    a {
        width: 100%;

        h4 {
            text-align: start;
        }
    }
}

.navbar {
    display: flex;

    a {
        &::before {
            display: none!important;
        }
    }

    .item {
        width: auto;
        padding: 5px;
        transition: 0.5s;
        border-radius: 5px;
        margin: 5px!important;

        &:hover {
            background-color: rgba(0, 0, 0, 0.12);
        }
    }

    .dropdownMenu {
        div {
            min-width: auto;
            padding: 5px;
        }
    }
}

.buttons {
    display: flex;
}

