$primary-color: #F5EE40;
$secondary-color: #F93030;
$background-color: #F2F1F1;

.main {
    // colocar no centro da pagina
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        form {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            section {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    border-bottom: solid 2px #fd3b00;
                    width: auto;
                }
            }
        }
    }
}

