$primary-color: #F5EE40;
$secondary-color: #F93030;
$background-color: #F2F1F1;


//@media (max-width: 775px) {
//    .container {
//        min-width: 400px;
//    }
//}

.container {
    min-width: 400px;
    width: 45vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form {
            width: 100%;
            margin: 30px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            background-color: rgba(0, 0, 0, 0.09);
            color: white;
            border-radius: 20px;

            h3 {
                border-bottom: solid 2px;
                width: auto;
            }

            section {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;

                button:hover {
                    cursor: pointer;
                }


            }
            button {
                margin-bottom: 20px;
            }
        }
    }
}


